body{
  background-image: url('./image.png');
  background-repeat: none;
  background-size: cover;
}
.container {
  max-width: 327px;
  margin: 346px auto;
  padding: 20px;

  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex
;
height: 0px;
  flex-direction:column;
}
.containers {
  max-width: 327px;
  margin: 89px auto;
  padding: 20px;
  background: #000000b0;
  border-radius: 21px 21px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex
;
  height: 400px;
  flex-direction: column;
  color: white;
  font-family: cursive;
}
h2, h3 {
  text-align: center;
  color: white;
}

input {
  width: 285px;
  padding: 8px;
  margin: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 12px 12px;
  background-color: transparent;
  color:white;
}

.trigger-section {
  margin-bottom: 15px;
}

.add-condition {
  display: inline-block;
  cursor: pointer;
  color: white;
  margin-top: 5px;
  margin: 11px 74px;
}

.add-condition:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  padding: 10px;
  background: #a3ff12;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 
}

button:hover {
  background: #218838;
}





  