p{
    color:#20a0c3;
    font-weight:bold;
    font-size: 23px;
    margin:12px 12px;
}
nav{
    display: flex;
    flex-direction: row;
}
ul{
    display: flex
    ;
        flex-direction: row;
        list-style: none;
        background-color: white;
        margin: 0px 400px;
        margin-left: 239px;
        padding: 12px 12px;
        border-radius: 118px 118px;
    }
button{
    background-color: black;
    color: white;
    width: 100px;
    height: 43px;
    border-radius: 26px 26px;
    margin-top: 12px;
    font-weight: bold;
}
li{
    margin:12px 12px;
}